.year-tab {
  display: block;
  width: 60%;
  padding: 10px 0;;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #00aaf2;
  border: solid 1px #00aaf2;
  border-right: none;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 20px 0 20px 40%;

  &:focus {
    outline: 0;
  }

}
.year-tab:hover {
  text-decoration: none;
}
.year-tab.active {
  color: white;
  background: #00aaf2;
}


.issues-box {
  border: solid 1px #00aaf2;
  border-radius: 3px;
  padding: 25px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;

  min-height: 837px;

  &:before {
    display: none;
  }

  &:after {
    display: none;
  }

  @media(max-width: 768px) {
    min-height: initial;
  }

}
.issue-wrapper {
  margin: 0 10px 30px 5px;
  flex: 0 0 250px;

  > a:focus {
    outline: 0;
  }

}

.issue-title {
  display: block;
  margin: 10px auto;
  font-size: 14px;
  color: #00aaf2;
}
.issue-series {
  font-weight: bold;
}

.issue-img-container {
  height: 323.5px;  /* 1100 divided by 3.8 */
  margin: 0 auto;
  text-align: center;
}

.issue-img {
  height: 100%;
}
