.table-contents {
  border-right: none;
  padding: 15px;
}
.table-contents > ol {
  color: #999;
  margin: 15px 0;
  padding-start: 15px;
  -webkit-padding-start: 15px;
}
.table-contents > ol > li {
  padding-bottom: 6px;
}
.table-contents > ol > li > a.article-title {
  color: #999;
}
.back-issues {
  margin-top: 10px;
}
