html {
  position: relative;
  min-height: 100%;
}
body {
  min-height: 100%
}
.footer {
  position: absolute;
  bottom: 0;
}
.content {
  max-width: 992px;
  margin: 0 30px;
  padding-bottom: 6em;
}
@media(min-width: 1052px) {
  .content {
    margin-left: auto;
    margin-right: auto;
  }
}
.hb-navbar-container {
  border: none;
  border-bottom: 1px solid #00aaf2;
}
.hb-navbar-nav {
  text-transform: lowercase;
}
.hb-navbar-brand {
  line-height: inherit;
  font-weight: bold;
}
.navbar-logo-text {
  left: 15px;
  color: white;
}
@media (min-width: 768px) {
  .hb-navbar-container {
    padding: 0 10px;
  }
  .navbar-logo-text {
    position: absolute;
    bottom: 0;
  }
  .navbar-logo-text-mobile {
    display: none;
  }
  .nav.navbar-nav > li > a:hover:after {
      content: "";
      top: 100%;
      left: 50%;
      position: absolute;
      border-top: 8px solid #00aaf2;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      margin-left: -5px;
  }
}
.navbar-brand {
  background: #00aaf2;
  width: 50px;
}
@media (max-width: 768px) {
  .navbar-brand {
    width: auto;
  }
  .navbar-header {
    background: #00aaf2;
  }
  .navbar-logo-text {
    display: none;
  }
  .navbar-logo-text-mobile {
    display: inherit;
    color: white;
    padding-left: 15px;
  }
}
.footer {
  width: 100%;
  height: 6em;
  background: #00aaf2;
}
.footer-mobile {
  display: none;
}
@media(max-width:768px) {
  .footer-screen {
    display: none;
  }
  .footer-mobile {
    display: block;
  }
}
.footer-section {
  overflow: hidden;
  color: white;
  text-align: center;
}
.hb-footer-link {
  margin: 1.25em 0 1.25em 1.75em;
  font-size: 1.5em; 
  font-weight: bold;
  text-transform: lowercase;
}
.hb-footer-contact {
  margin: 3em 0;
  font-size: 0.8em;
}
.hb-footer-nav {
  margin: 2.5em 2.55em 2.5em 0;
  font-size: 0.9em;
}
.hb-footer-nav > a {
  margin: 0 3px;
  color: white;
  cursor: pointer;
}
.nav-padding {
  height: 50px;
}

/*-----index.hbs-------------------------------------------------------------*/
.main-header {
  height: 15em;
  width: 100%;
  text-align: center;
}
.page-title {
  display: block;
  margin: 0;
  padding-top: 0.75em;
  color: #00aaf2;
  font-size: 5em;
  line-height: 1em;
  text-transform: lowercase;
}
.page-description {
  display: block;
  margin: 0;
  color: #777;
  font-size: 13px;
  font-weight: 300;
  text-transform: lowercase;
}
@media (min-width: 950px) {
}
@media (min-width: 768px) {
  .post-feed {
    padding-right: 20px;
  }
  .sidebar {
    padding-left: 20px;
  }
}
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
/*-----loop.hbs--------------------------------------------------------------*/
.post {
  padding: 25px 0;
  border-bottom: 1px solid #00aaf2;
}
.post-header {
  display: block;
}
.post-title {
  margin: 0px;
  max-width: 80%;
}
.post-title > a {
  color: black;
  font-size: 25px;
}
.post-meta {
  margin: 11px 0;
  font-size: 10px;
}
.post-meta > a {
  color: black;
}
.post-excerpt {
  font-size: 13px;
}
/*-----featured.hbs----------------------------------------------------------*/
.post.featured {
  padding: 0 25px 10px 25px;
  border: 1px solid #00aaf2;
  border-bottom-width: 5px;
}
.post-title.featured {
  display: inline-block;
  margin-left: -25px;
  background: #00aaf2;
  padding: 5px 10px;
}
.post-title.featured > a {
  color: white;
}
/*-----carousel--------------------------------------------------------------*/
.carousel-container {
  position: relative;
  height: 350px;
  width: 100%;
  margin-bottom: 30px;
  background: #ccc;
}
@media (max-width: 768px) {
  .carousel-container {
    display: none;
  }
}
.carousel-arrow {
  position: absolute;
  height: 60px;
  width: 60px;
  text-align: center;
  font-size: 42px;
  color: white;
  background: #333;
  opcaity: 0.7;
}
.carousel-arrow.left {
  top: 145px;
  left: -10px;
}
.carousel-arrow.right {
  top: 145px;
  right: -10px;
}
/*-----pagination------------------------------------------------------------*/
.pagination {
  position: relative;
  padding: 20px;
  text-align: center;
}
.page-number {
  color: #777;
  font-size: 10px;
}
.pagination > a {
  color: #777;
  font-size: 10px;
  padding: 7px;
  border: 1px solid #00aaf2;
  border-radius: 5px;
  top: 14px;
}
.older-posts {
  position: absolute;
  right: 20px;
}
.newer-posts {
  position: absolute;
  left: 20px;
}
/*-----pagination------------------------------------------------------------*/
.year-tab {
  display: block;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
  border: solid 1px #00aaf2;
  border-right: none;
  margin: 20px 0;
}
.issues-box {
  display:
}
.article {
  height: 200px;
  width: 50%;
  background: gray;
}
.issue-title {
  font-size: 14px;
  color: #00aaf2;
}










