.hb-post-header {
  text-align: center;
}
.hb-post-title {
  /*margin: 0px;*/
  font-size: 55px;
  max-width: 100%;
}
.post-content {
  max-width: 750px;
  margin: auto;
  line-height: 175%;
  font-size: 18px;
}
.blue-line {
  border-top: 1px solid #00aaf2;
  margin-top: 5%;
}
.post-date {
  font-size: 14px;
}

.post-footer {
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}
