
<style>
@media (max-width: 638px){
  #sideContainer{
    display: none;

  }



}

</style>


{{!-- <div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div class="fb-like-box" data-href="https://www.facebook.com/pages/hardboiled-APA-newsmagazine/172589605952" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false"></div>

 --}}
{{!-- 
      <div id="sideContainer" style="position: relative;"> 
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <div class="fb-like-box" data-href="https://www.facebook.com/FacebookDevelopers" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true" data-width="270"></div>

        <br>
        <br>
        <br>
        
        <script type="text/javascript">
        window.twttr = (function (d, s, id) {
        var t, js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id; js.src= "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
        return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
        }(document, "script", "twitter-wjs"));
        </script>



      <a class="twitter-timeline" href="https://twitter.com/twitter" data-widget-id="529833018597203968"  width="270">Tweets by @twitter</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


        <div class="row">
          <p> </p>
        </div>

      </div> --}}






      
      <div id="sideContainer" style="position: relative; background-color: #F2F6F9; border-radius: 10px; padding: 5px; width: 290px; min-height: 1351px; left: 30%; right: 50%; margin-bottom: 25px;"> 
        <div id="search">
            <form action="/search">
              <input type="text" name="search-query" />
              <input type="submit" value="search">
            </form>
        </div>

        {{!-- Magazine slot --}}

        <div id="magazine" style="height: 300px; text-align: center;">
          <h2 style="text-align: left; border-top: 1px solid #00aaf2; color: #00aaf2;"> Latest Issue</h2>

          {{!-- img search --}}
          <div id="featured_mag">
            <p> 
              <img src="pic_mountain.jpg" alt="Featuerd magazine goes here" style="width: 80%;">
            </p>
          </div>


        </div>


          <h2 style="text-align: left; border-top: 1px solid #00aaf2; color: #00aaf2;"> Social Media</h2>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <div class="fb-like-box" data-href="https://www.facebook.com/FacebookDevelopers" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="false" data-width="270" ></div>

        <br>
        <br>
        <br>
        
        <script type="text/javascript">
        window.twttr = (function (d, s, id) {
        var t, js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id; js.src= "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
        return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
        }(document, "script", "twitter-wjs"));
        </script>
      <a class="twitter-timeline" href="https://twitter.com/twitter" data-widget-id="529833018597203968" data-chrome="nofooter transparent" width="270">Tweets by @twitter</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



        <div class="row">
          <p> </p>
        </div>

      </div>
