{{!< default}}

{{! The main content area on the homepage }}
<main id="content" class="content" role="main">

    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8 post-feed">
            <div class="row">
                {{! The tag below includes the post loop - partials/loop.hbs }}
                {{> "loop"}}
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 sidebar">
            <div class="row">
                {{> "sidebar"}}
            </div>
        </div>
    </div>

</main>
